/* cinema */
/* styles.css */

body {
    background-color: #1a1a1a; /* Couleur de fond sombre */
    color: white; /* Couleur de texte blanche */
    font-family: Arial, sans-serif; /* Police générique */
    line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: white; /* Couleur de titre en blanc */
    margin-bottom: 15px; /* Marge inférieure pour séparer les titres */
}

.film {
    background-color: #333; /* Couleur de fond des films */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.film img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px; /* Marge inférieure pour séparer l'image du contenu */
}

.film p {
    margin-bottom: 10px;
}

.film ul {
    padding-left: 20px; /* Padding pour les listes horaires */
}

.film li {
    margin-bottom: 5px; /* Marge inférieure pour séparer les éléments de la liste */
}

.film-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


/* index */

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff; /* Couleur du texte en blanc */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.section-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.section-featured {
    margin-bottom: 40px;
}

.film-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.film {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.film img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
